
h1 {
  text-align: center;
}

.columns {
  float: left;
  width: 30%;
  padding: 5px;
  display: block;
  margin: auto;
}

.columns h2 {
  color: grey;
  text-align: center;
  margin-top: auto;
}

@media screen and (max-width:1000px) and (min-width:700px)  {

}

@media screen and (max-width:700px) and (min-width:300px)  {

}